<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center">
<h2>Register</h2>
<form action="register" method="POST" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="text" name="first_name" placeholder="Enter first name"><br>
    <input type="text" name="last_name" placeholder="Enter last name"><br>
    <input type="email" name="email" placeholder="Enter email address"><br>
    <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="password" name="cpassword" placeholder="Enter Conf Password"><br>
    <input type="submit">
</form>
{% for msg in messages%}
{{msg}}
{% endfor %}
</body>
</html>